body, ul, ol, li, dl, dt, dd, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: arial;
	background: #f7f7f7;
	color: #333;
	font-size:14px;
}

header {
	background: #555;
	color: #f1f1f1;
	min-height: 50px;
}

a:link, a:visited { color: #0090C9; text-decoration: none; }
a:hover {border-bottom: 1px solid #CE4873; color: #CE4873; }

h1 { 
	font-size: 60px;
	padding: 75px 0 20px;
	text-align: center; 
	font-family: 'helvetica neue', helvetica-neue, helvetica;
	font-weight: bold;
	color: #fff;
}

h2 { 
	font-size: 32px; 
	width: 780px;
	padding-top: 30px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
}

h3 { 
	font-size: 20px;  
	padding: 10px 0 10px;
}

.slogan { 
	font-size: 16px; 
	line-height: 130%; 
	text-align: center; 
	width: 800px;
	margin: 0 auto;
	color: #ccc;
}

.header-inner {
	width: 800px;
	margin: 0 auto;
}
header nav {
	float: right;
}

header nav a:link,
header nav a:visited,
header nav a:hover {
	display: inline-block;
	font-family: 'helvetica neue', helvetica-neue, helvetica;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	height: 16px;
	line-height: 16px;
	margin: 13px 2px;
	padding: 4px 5px;
	border: 0;
	color: #ddd;
}

header nav .down:hover { color: #e66000; }
header nav .doc:hover { color: #1487B4; }
header nav .source:hover { color: #86B127; }
header nav .example:hover { color: #C74050; }
header nav .feature-more:hover { color: #456B9B; }

.index header { padding-bottom: 50px; }
.index nav {
	float: none;
	margin: 20px 0 0;
	text-align: center;
	font-family: 'helvetica neue', helvetica-neue, helvetica;
}

.index nav a:link,
.index nav a:visited,
.index nav a:hover {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	width: 140px;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
	border-radius: 3px;
	border: 0;
}

nav .fa {padding-right:3px;}
.index nav .down { background: #e66000; }
.index nav .doc { background: #1487B4; }
.index nav .source { background: #86B127;margin-right: 0;}
.index nav .example {background: #C74050;}

.index nav .feature-see { background: #0095dd; }
.index nav .feature-more:link {
	background: #456B9B;
	margin-bottom: 30px;
	width: 200px;
}


.index nav .example-see:link {
	background: #C74050;
	width: 200px;
}

.feature header { margin-bottom: 30px; }
.feature pre {
	width: 780px;
	margin: 0 auto 20px;
}

.feature h2,
.feature h3,
.feature p {
	width: 780px;
	margin: 0 auto;
	padding-left: 5px;
	color: #444;
}

.feature h2 { margin-top: 30px; margin-bottom: 20px;}
.feature h3 { margin-top: 20px; }
.feature p { line-height: 20px; }
.feature .copyright { margin: 60px auto 40px; }
.feature .feature-code {
	margin: 10px auto 0;
	width: 780px;
	padding: 0;
}
.feature .feature-code a{
	display: block;
	background: #eee;
	color: #666;
	padding: 3px;
	width: 40px;
	text-align: center;
}

.feature .feature-code a:hover {border:0;}

.start-panel {
	width: 780px;
	margin: 15px auto 30px;
}

.start-panel h3 {
	padding-bottom: 0;
}

.use {
	font-size: 14px; 
	width: 780px;
	margin: 12px auto;
	padding-left: 2px;
	line-height: 120%;
	color: #666;
}

.start-panel em {
	background: #ddd;
	color: #555;
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 3px;
	font-style: normal;
	font-family: ;
}

.use-step {
	width: 780px;
	margin: 12px auto;
}

.use-step li {
    color: #666;
	font-size: 15px; 
	width: 740px;
	margin: 20px auto;
	line-height: 120%; 
}

.hljs {
	color: #777;
	background: #eee;
	padding: 2px 6px;
	line-height: 160%;
}

.use-notice {
	margin-bottom: 20px;
	color: #999;
	font-size: 12px;
}

.try-panel {
	width: 800px; 
	margin: 20px auto 0;
	overflow: hidden;
}

.try-nav {
	float: left;
	width: 140px;
	border-top: 1px solid #ddd;
}

.try-nav li {
	list-style: none;
	background: #fff;
	padding: 0 10px;
	cursor: pointer;
	font-family: Helvetica, arial;
	color: #666;
	line-height: 30px;
	border: 1px solid #ddd;
	border-top: 0;
}

.try-nav li:hover {
	background: #eee;
	color: #333;
}

.try-template {
	width: 640px;
	float: right;
}

.try-data {
	width: 640px;
	float: right;
}

textarea {
	font-size:14px;
	font-family: 'Courier New';
	border: 1px solid #666;
	width: 640px;
	height: 200px;
}

.try-result {
	float: right;
	margin-bottom: 40px;
}

.try-render {
	float: left;
	width: 140px;
	background: #C74050;
	color: #fff;
	margin: 20px 0;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
}

.try-config {
	float: left;
	width: 140px;
}

.try-config label {
	display: block;
}

.try-config input[type=text] {
	border: 1px solid #888;
	width: 130px;
	height: 20px;
	margin-bottom: 10px;
}

.desc {
	padding: 50px 0 30px;
	text-align: center;
	color: #666;
	font-size: 20px;
}

.feature-list {
	width: 780px;
	list-style: none;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0 20px;
}

.feature-list li {
	width: 250px;
	padding: 0 5px;
	float: left;
}

.feature-list p {
	line-height: 26px;
	font-size: 12px;
}



.feature-more i {padding-right: 3px;}

.any-other {
	background: #e7e7e7;
	margin-top: 40px;
	padding: 20px 0 20px;
	font-size: 12px;
}

.any-other p {
	width: 780px;
	margin: 0 auto 10px;
}

.any-other dl {
	width: 780px;
	margin: 0 auto;
	line-height: 24px;
	overflow: hidden;
}

.any-other dt {
	float: left;
	clear: left;
	width: 60px;
	padding-left: 14px;
}
.any-other dd {
	float: left;
	clear: right;
	color: #666;
}

.copyright {
	width: 780px;
	margin: 30px auto;
	text-align: center;
	clear: both;
}
