body, ul, ol, li, dl, dt, dd, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: arial;
	background: #f7f7f7;
	color: #333;
	font-size:14px;
}

.header{
	background: #555;
	padding-bottom: 50px;
	color: #f1f1f1;
}

a:link, a:visited { color: #0090C9; text-decoration: none; }
a:hover {border-bottom: 1px solid #CE4873; color: #CE4873; }

h1 { 
	font-size: 60px;
	padding: 75px 0 20px;
	text-align: center; 
	font-family: 'helvetica neue', helvetica-neue, helvetica;
	font-weight: bold;
	color: #fff;
}

h2 { 
	font-size: 32px; 
	width: 780px;
	padding-top: 30px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
}

h3 { 
	font-size: 20px;  
	padding: 10px 0 10px;
}

.slogan { 
	font-size: 16px; 
	line-height: 130%; 
	text-align: center; 
	width: 800px;
	margin: 0 auto;
	color: #ccc;
}

.nav {
	margin: 20px 0 0;
	text-align: center;
	font-family: 'helvetica neue', helvetica-neue, helvetica;
}

.nav a {
	display: inline-block;
	color: #fff; 
	font-size: 16px;
	text-align: center; 
	background: #ccc;
	text-decoration: none;
	width: 140px;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
	border-radius: 3px;
	border: 0;
}

.nav .fa {padding-right:3px;}
.nav .down {
	background: #e66000;
}

.nav .doc { background: #1487B4; }
.nav .feature-see { background: #0095dd; }
.nav .feature-more {
	background: #456B9B;
	margin-bottom: 30px;
	width: 200px;
}

.nav .source { background: #86B127;}

.nav .example {
	background: #CE4873;
	margin-right: 0;
}

.nav .example-see {
	background: #CE4873;
	width: 200px;
}


.start-panel {
	width: 780px;
	margin: 15px auto 30px;
}

.start-panel h3 {
	padding-bottom: 0;
}

.use {
	font-size: 16px; 
	width: 780px;
	margin: 12px auto;
	padding-left: 2px;
	line-height: 120%; 
}

.start-panel em {
	background: #666;
	color: #fff;
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 3px;
	font-style: normal;
	font-family: ;
}

.use-step {
	width: 780px;
	margin: 12px auto;
}

.use-step li {
    color: #666;
	font-size: 15px; 
	width: 740px;
	margin: 20px auto;
	line-height: 120%; 
}

.hljs {
	color: #777;
	background: #eee;
	padding: 2px 6px;
	line-height: 160%;
}

.use-notice {
	margin-bottom: 20px;
	color: #999;
	font-size: 12px;
}

.try-panel {
	width:800px; 
	margin:0 auto;
}

.try-nav {
	height: 30px;
	padding: 20px 0 0 10px;
}

.try-nav li {
	margin-right: 10px;
	float: left;
	list-style: none;
	background: #ddd;
	padding: 0 18px;
	cursor: pointer;
	font-family: Helvetica, arial;
	color: #666;
	line-height: 22px;
	border-radius: 3px;
}

.try-nav li:hover {
	background: #aaa;
	color: #333;
}

.try-template {
	float: left;
	width: 490px;
}

.try-data {
	float: right;
	width: 290px;
}

.try-template h3, .try-data h3, .try-result h3 {
	text-align: center;
}

textarea {
	font-size:14px;
	font-family: 'Courier New';
	border: 1px solid #666;
}

.try-template textarea {
	background:#DFF6FE;
	width: 484px;
	height: 200px;
}

.try-data textarea {
	background:#E0F9E4;
	width: 284px;
	height: 200px;
}

.try-result {
	clear: both;
	margin-bottom: 40px;
}

.try-result textarea {
	width:794px; 
	height:180px; 
	background:#E7E7E7;
}

.desc {
	padding: 50px 0 30px;
	text-align: center;
	color: #666;
	font-size: 20px;
}

.feature-list {
	width: 780px;
	list-style: none;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0 20px;
}

.feature-list li {
	width: 250px;
	padding: 0 5px;
	float: left;
}

.feature-list p {
	line-height: 26px;
	font-size: 12px;
}



.feature-more i {padding-right: 3px;}

.any-other {
	background: #e7e7e7;
	margin-top: 40px;
	padding: 20px 0 20px;
	font-size: 12px;
}

.any-other p {
	width: 780px;
	margin: 0 auto 10px;
}

.any-other dl {
	width: 780px;
	margin: 0 auto;
	line-height: 24px;
	overflow: hidden;
}

.any-other dt {
	float: left;
	clear: left;
	width: 60px;
	padding-left: 14px;
}
.any-other dd {
	float: left;
	clear: right;
	color: #666;
}

.copyright {
	width: 780px;
	margin: 30px auto;
	text-align: center;
}
