body, ul, ol, li, dl, dt, dd, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: arial;
	background: #efefef;
	color: #333;
	font-size:14px;
}

.header{
	background: #333;
	padding-bottom: 40px;
	color: #f1f1f1;
}

h1 { 
	font-size: 60px;
	padding: 75px 0 30px;
	text-align: center; 
	font-family: 'helvetica neue', helvetica-neue, helvetica;
	font-weight: bold;
}

h2 { 
	font-size: 32px; 
	font-style: italic; 
	width: 780px;
	padding-top: 20px;
	margin: 0 auto;
}

h3 { 
	font-size: 20px; 
	font-style: italic; 
	padding: 10px 0 10px;
}

.desc { 
	font-size: 16px; 
	line-height: 130%; 
	text-align: center; 
	width: 800px;
	margin: 0 auto;
}

.nav {
	margin: 20px 0 0;
	text-align: center; 
}

.nav a {
	display: inline-block;
	color: #fff1f1; 
	font-size: 18px; 
	font-family: arial;
	letter-spacing: 2px;
	text-align: center; 
	background: #ccc;
	text-decoration: none;
	width: 140px;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
	border-radius: 12px;
}

.nav .down {
	background: #e66000;
	background-image: linear-gradient(#e66000, #e66000 50%, #d35800 51%, #d35800);
}

.nav .doc {
	background: #0095dd;
	background-image: linear-gradient(#0095dd, #0095dd 50%, #0083C2 51%, #0083C2);
}

.nav .source {
	background: #97c03d;
	background-image: linear-gradient(#97c03d, #97c03d 50%, #82A733 51%, #82A733);
}

.use {
	font-size: 16px; 
	width: 780px;
	margin: 12px auto;
	line-height: 120%; 
}

.use em {
	font-family: 'Courier New';
	background:#fff;
	border: 1px solid #666;
	margin:0 5px;
}

.use-step {
	width: 780px;
	margin: 12px auto;
}

.use-step li {
    color: #666;
	font-size: 15px; 
	width: 740px;
	margin: 20px auto;
	line-height: 120%; 
}

.use-step code {
	color: #999;
	background: #E7E7E7;
	padding: 2px;
	line-height: 160%; 
	font-family: 'Courier New';
}

.try-panel {
	width:800px; 
	margin:0 auto;
}

.try-nav {
	height: 30px;
	padding: 20px 0 0 10px;
}

.try-nav li {
	margin-right: 10px;
	float: left;
	list-style: none;
	background: #ddd;
	padding: 0 18px;
	cursor: pointer;
	font-family: Helvetica, arial;
	color: #666;
	line-height: 22px;
	border-radius: 3px;
}

.try-nav li:hover {
	background: #aaa;
	color: #333;
}

.try-template {
	float: left;
	width: 490px;
}

.try-data {
	float: right;
	width: 290px;
}

.try-template h3, .try-data h3, .try-result h3 {
	text-align: center;
}

textarea {
	font-size:14px;
	font-family: 'Courier New';
	border: 1px solid #666;
}

.try-template textarea {
	background:#DFF6FE;
	width: 484px;
	height: 200px;
}

.try-data textarea {
	background:#E0F9E4;
	width: 284px;
	height: 200px;
}

.try-result {
	clear: both;
	margin-bottom: 40px;
}

.try-result textarea {
	width:794px; 
	height:180px; 
	background:#E7E7E7;
}
